In [8]:
# run the Postgrs server
import psycopg2
# to return the Postgres table with their volumn title
from psycopg2.extras import RealDictCursor 
import time
import config



while True:
    try:
        # Connect to your postgres DB
        conn = psycopg2.connect(host =config.HOST, database=config.DATABASE, 
                                user =config.USER, password= config.PASSWORD,
                                cursor_factory=RealDictCursor)

                                #host = 'localhost', database='dataScience', 
                                #user ='postgres', password='Jimboo1155',
                                #cursor_factory=RealDictCursor )
        # Open a cursor to perform database operations
        cursor = conn.cursor()
        print('database connection was succesfull!!!')
        break
    except Exception as error:
        print('database connection was failed!!!')
        print('Erorr : ',  error)
        time.sleep(2)

database connection was succesfull!!!

In [3]:
cursor.execute(""" SELECT * FROM products""")
# Retrieve query results
posts = cursor.fetchall()

In [3]:
import pandas as pd
df = pd.DataFrame(posts)

In [4]:
df.head()

        name  price  id  is_sale  inventory                       created_at
0         Tv    200   1    False          0 2022-09-07 13:37:44.332757+02:00
1      radio     45   4    False          0 2022-09-07 13:37:44.332757+02:00
2  headphone     40   5     True          0 2022-09-07 13:37:44.332757+02:00
3    keyword     50   7     True         33 2022-09-07 13:38:41.265149+02:00
4    ironing     24   8    False          6 2022-09-07 14:29:49.312453+02:00

In [6]:
df.to_csv('products.csv', index=False, encoding='utf-8')